// Calculates y = |x|
// x & y are static variables

// Put your code here.
// Abs01.tst
// Test case to verify the calculation of the absolute value of x
// where x = -7

load Abs.vm
output-file Abs01.out
compare-to Abs01.cmp
output-list Stack 0

// Initialize the test environment
init

// Set the value for static variables
set static 0 -7   // x = -7
set static 1 0    // y is not used in this case

// Call the main function of Abs
call Abs.main 0

// End the test script
output

// Abs02.tst
// Test case to verify the calculation of the absolute value of x
// where x = 5

load Abs.vm
output-file Abs02.out
compare-to Abs02.cmp
output-list Stack 0

// Initialize the test environment
init

// Set the value for static variables
set static 0 5    // x = 5
set static 1 0    // y is not used in this case

// Call the main function of Abs
call Abs.main 0

// End the test script
output



label END
goto END
