// Contains a function Fib.fib that calculates and returns the nth Fibonacci number recursively
// n is supplied as an argument

// Put your code here.

function Fib.fib 0

 

push argument 0

push constant 0

eq

if-goto BASECASE0

 

push argument 0

push constant 1

eq

if-goto BASECASE1

 

 

push argument 0

push constant 1

sub

call Fib.fib 1

push argument 0

push constant 2

sub

call Fib.fib 1

 

add

return

 

label BASECASE0

push constant 0

return

 

label BASECASE1

push constant 1

return
